# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Logs
*.log

# System files
.DS_Store

# Docker
*.dockerignore.disabled
docker-compose.override.yml

# IDEs and editors
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Backup files
*~
*.bak
*.swp